## [Start] Set query expression for key **
#if( $util.isNull($ctx.args.id) && !$util.isNull($ctx.args.sortDirection) )
  $util.error("When providing argument 'sortDirection' you must also provide argument 'id'.", "InvalidArgumentsError")
#end
#set( $modelQueryExpression = {} )
## [Start] Validate key arguments. **
#if( !$util.isNull($ctx.args.pageType) && $util.isNull($ctx.args.id) )
  $util.error("When providing argument 'pageType' you must also provide arguments id", "InvalidArgumentsError")
#end
## [End] Validate key arguments. **
#if( !$util.isNull($ctx.args.id) )
  #set( $modelQueryExpression.expression = "#id = :id" )
  #set( $modelQueryExpression.expressionNames = {
  "#id": "id"
} )
  #set( $modelQueryExpression.expressionValues = {
  ":id": {
      "S": "$ctx.args.id"
  }
} )
#end
## [Start] Applying Key Condition **
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.beginsWith) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND begins_with(#sortKey, :sortKey)" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.beginsWith" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.between) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey BETWEEN :sortKey0 AND :sortKey1" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey0", { "S": "$ctx.args.pageType.between[0]" }))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey1", { "S": "$ctx.args.pageType.between[1]" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.eq) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey = :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.eq" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.lt) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey < :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.lt" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.le) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey <= :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.le" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.gt) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey > :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.gt" }))
#end
#if( !$util.isNull($ctx.args.pageType) && !$util.isNull($ctx.args.pageType.ge) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey >= :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "pageType"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.pageType.ge" }))
#end
## [End] Applying Key Condition **
## [End] Set query expression for key **
$util.qr($ctx.stash.put("modelQueryExpression", $modelQueryExpression))
{}