body {
    background-color: #101C47;
    padding: 0;
    margin:0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 40px;
    

    .home-link {
        font-size: 35px;
        font-weight: bold;
        color:#fff;
        text-decoration: none;
        font-family: 'Quattrocento Sans', sans-serif;

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    .navigation {
        display: flex;
        a {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 2px;
            border: 1px solid #fff;
            text-decoration: none;
            padding: 4px;
            font-family: 'quicksand', sans-serif;
            transition: color 0.4s, background-color 0.4s;

            &:hover,&:focus {
                background-color: #fff;
                color: #101C47;
            }
        }
        @media screen and (max-width: 650px) {
            display: none;
        }
    }

    .nav-hamburger {
        display: none;
        background-color:#fff;
        border: none;
        border-radius: 2px;
        padding: 5px;
        margin-bottom: 5px;
        cursor: pointer;

        .hamburger-line {
            background-color: #101C47;
            width: 20px;
            height: 3px;
            margin: 3px;
        }


        @media screen and (max-width: 650px) {
            display: inline-block;
        }
    }
}

.page-content {
    background-color: #eee;
    color: #474554;
    line-height: 30px;
    padding: 10px;
    border-radius: 2px;
    min-height: 600px;
    max-width: 80%;
    margin: 30px auto;
    font-family: 'roboto', sans-serif;

    .content-header {
        @media screen and (max-width: 650px) {
            font-size: 20px;
        }
    }
}

